#loginform{
    position: absolute;
    width: 482px;
    min-height: 210px;
    border: 1px solid #C2B9B9;
    border-radius: 10px;
    box-shadow: rgba(196, 201, 201, 0.5) 1px 1px 1px 2px;
    left: 50%;
    margin-left: -241px;
    top: 50%;
    margin-top: -105px;
}

.header .username {
    position: absolute;
    right: 10px;
    top: 0;
}
.sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    width: 15%;
    /*margin-left: -25%;*/
    background: rgb(24, 33, 61);
    color: #fff;
    left: 0;
}

#content {
    margin-top: 70px;
    position: relative;
    margin-left: 16%;
}
